.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
data/inputs_extracted/*
data/~$*
scripts/private_info.R
scripts/pers_*
*.JPG
!crossing_all.JPG
!*_k_*
*.gpkg-wal
*.gpkg-shm
#data/raw_input
docs/Bulkley2022.html
Bulkley2022.html
*~$*
#hold
*.Kmz
*.kml
data/photos/**/*.pdf
!data/photos/admin/*
docs/*.pdf

